* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --label-opacity: 0.5;

  overflow: hidden;
  background: black;

  .cards {
    display: flex;
    height: 100%;
  }

  .card {
    cursor: pointer;
    aspect-ratio: 2.5/3.5;
    border: 0.3vw solid black;
    border-radius: 0.5vw;
    max-width: 10vw;
    max-height: 100%;
    overflow: hidden;
    font-size: 0.5vw;
    background: white;
    background-size: cover;
    background-position: center calc(100% - 2vw);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .header,
    > .description {
      padding: 0.2vw;
      background: rgba(0, 0, 0, 0.7);
      color: white;
    }

    ul > li {
      margin: 0px;
      padding: 0px;
      padding-left: 0em;
      margin-left: 1em;
    }
  }

    .board::before {
      content: " ";
      display: block;
      width: 100%;
      height: 100%;
      background-image: url('https://cdna.artstation.com/p/assets/images/images/043/792/934/4k/chuang-ma-016.jpg?1638278989');
      background-position: center;
      background-size: cover;
      opacity: 0.5;
      z-index: -1;
      position: absolute;
    }

  .board {
    --section-label-opacity: var(--label-opacity);
    --section-border: 1px solid rgba(255, 255, 255, 0.1);

    color: white;
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .boardsection {
      border: var(--section-border);
      width: 100%;
      height: 20%;

      &.graveyard { width: 50%; }
      &.area { width: 50%; }

      > .label {
        width: inherit;
        text-align: end;
        padding-right: 1.5vh;
        font-size: 1.5vh;
        opacity: var(--section-label-opacity);
        position: absolute;
      }

      > .cards {
      }
    }
  }
}
}
